.Feed{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap:20px ;
    grid-row-gap: 30px;
    cursor: pointer;
    padding-left: 150px;
}
.Card img{
    width: 100%;
    border-radius: 7px;
}
.Card h2{
    font-size: 13px;
    font-weight: 500;
}
.Card h3{
    font-size: 13px;
    font-weight: 600;
}
.Card p{
    font-size: 12px;
}

@media (max-width:576px){
    .Feed{
        display: flex;
        flex-direction: column;
        padding: 0px;
        
        
        
    }
}
@media(max-width:768px){
    .Feed{
        display: flex;
        flex-direction: column;
        
    }
}